@{
    ViewData["Title"] = Constants.ApplicationTitle;
}

@section title {
    <h3>@ViewData["Title"]</h3>
}

<div class="text-center">
    <div class="container">
        <div>
            <a href="@Url.Action("List", "Patient")" class="btn btn-primary btn-block">Entrar na aplicação</a>
        </div>
        <div>
            <a href="@Url.Action("RedirectToSwaggerUI", "Index")" class="btn btn-primary btn-block">Testar a API via Swagger</a>
        </div>
    </div>
</div>
